@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="display-4">.NET Enterprise Developer Days</h2>

   <form method="post">

        <div class="form-group">
            <label for="Description">Text to analyze:</label>
            <textarea class="form-control" id="Description" name="Description" rows="5">@Model.Description</textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-page-handler="Language" value="Detect Language"/>
            <input type="submit" class="btn btn-primary" asp-page-handler="Entities" value="Detect Entities"/>
            <input type="submit" class="btn btn-primary" asp-page-handler="PII" value="Detect PII"/>
        </div>
        <div class="form-group">
            @Html.Raw(Model.Result)
        </div>
    </form>

</div>
