@page
@model SamplesModel
@{
    ViewData["Title"] = "Sample Texts";
}
<h1>@ViewData["Title"]</h1>

<p>.NET Enterprise Developer Days 2022 is a free event providing enterprise developers with the most relevant information to swiftly and efficiently migrate and modernize their .NET applications and workloads on AWS. Amazon Web Services is hosting this event for developers who want to learn about tools and services to use in your journey to develop, deploy, manage, and optimize modern .NET applications.</p>

<p>La plateforme AWS est lancée en juillet 2002. À l'origine, elle comprend seulement quelques outils hétérogènes. À la fin de l'année 2003, le concept d'AWS est repensé ouvertement quand Chris Pinkham et Benjamin Black présentent un article décrivant leur vision pour la commercialisation d'une infrastructure informatique complètement standardisée, complètement automatisée, qui repose largement sur des services web pour le stockage notamment et qui puise sur des projets alors en cours en interne chez Amazon. À la fin de cet article, ils évoquent la possibilité de commercialiser l'accès à des serveurs virtuels en tant que service, suggérant que l'entreprise pourrait générer des revenus à partir des investissements dans cette nouvelle infrastructure. En novembre 2004, le premier service AWS est lancé pour un usage public : Simple Queue Service (SQS). Puis, Chris Pinkham et Christopher Brown, le développeur principal, développent le service Amazon EC2, avec une équipe dans la ville du Cap, en Afrique du Sud. </p>

<p>Företaget grundades 1943 av Ingvar Kamprad när han var sjutton år gammal. Från början såldes fröer, julkort, fotoramar, klockor, reservoarpennor, smycken, nylonstrumpor, plånböcker, kulspetspennor och annat som Kamprad kom över. Möbler började säljas på postorder 1948 och från 1955 började egendesignade möbler säljas.
Namnet IKEA valdes av grundaren Ingvar Kamprad och är en akronym för Ingvar – Kamprad – Elmtaryd – Agunnaryd. Här är Elmtaryd en äldre stavning för gården Älmtaryd där Kamprad växte upp. Gården är belägen i socknen Agunnaryd i Småland, nära Ljungby.
Från början sålde Kamprad varorna per postorder, men 1953 öppnade han en affär i Älmhult. Nära den gamla affären uppfördes senare ett större varuhus, som stod klart 1958 och fick stå som modell när man började bygga fler varuhus runt om i Sverige. Det första varuhuset utanför Sverige – och tillika Ikeas andra varuhus – öppnades 1963 i Nesbru, strax utanför Oslo. </p>

<p>Hi, my name is John Doe. For verification, the last 4 digits of my social are 6789 and my birth date is 20/09. 
I paid for my credit card 1111-0000-1111-0000 last week from my bank account 123876738-4352. The check was mailed from 100 Main Street, Anytown, WA 98121. 
Please confirm receipt by calling me at 206-555-0199 or emailing at john.doe@anycompany.com.</p>

<p>What is the total amount?</p>
<p>How many items?</p>
